ShareNow/obj/Debug/
ShareNow/bin/ShareNow.dll
ShareNow/bin/ShareNow.dll.config
ShareNow/bin/ShareNow.pdb
ShareNow/bin/EntityManager.pdb
ShareNow/bin/EntityManager.dll
ShareNow/v14
EntityManager/bin/Debug
EntityManager/obj/Debug
ShareNow/bin